<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12 text-right">
            <div class="form-group">
              <button type="button" class="btn btn-primary" data-toggle="modal" *ngIf="identity.nombre == 'Admin'"
                data-target="#modalAltaEditar" (click)="onNuevoTratamiento(modalAltaEdicion)">
                Nuevo Tratamiento
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="card-group" *ngFor="let t of tratamientos" style="margin: 1.5em;">
    <div class="card ">
      <div class="card-header bg-info">
        <h6>{{t.programa_tratamiento}}</h6>
      </div>

      <div class="card-body bg-light">
        <!-- <h6 class="card-text">
          Der. Psicologica: &nbsp; &nbsp; <label>{{t.derivacion_psicoterapia}}</label></h6> -->
        <h6 class="card-text">
          Ses. Psiquiatricas: &nbsp; &nbsp; <label>{{t.sesiones_psiquiatricas}}</label></h6>
        <h6 class="card-text">
          Ses. Psicologicas: &nbsp; &nbsp; <label>{{t.sesiones_psicologicas}}</label></h6>
        <h6 class="card-text">
          Ses. Grupales: &nbsp; &nbsp; <label>{{t.sesiones_grupales}}</label></h6>
        <h6 class="card-text">
          Frecuencia: </h6> <label><h6> {{t.frecuencia}}</h6></label>
        <h6 class="card-text">
          T. Probable:</h6> <label><h6>{{t.tiempo_probable}}</h6></label>                                            
        <h6 class="card-text">
          Costo Mensual:</h6> <label><h6>${{t.costo_mensual}}</h6></label>  
        <h6 class="card-text">
          Cant. Fases:</h6> <label><h6>{{t.fases}}</h6></label>  
      </div>
      
      <div class="card-footer">
        <button type="button" class="btn btn-success" data-toggle="modal" 
          (click) = "onEditar(modalAltaEdicion,t)" data-target="#modalAltaEditar">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </button>
        &nbsp;
        <button type="button" class="btn btn-danger" data-toggle="modal" 
          data-target="#eliminarModal" (click)="onBorrar(eliminarModal,t)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- MODAL ALTA/MODIFICAR PATOLOGIA -->
  <ng-template #modalAltaEdicion let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{tituloModal}}</h4>
        <button type="button">
          <i class="fa fa-close" (click)="c('Close click')"></i>
        </button>
    </div>

     <div class="modal-body px-3">
      <div class="row justify-content-md-center" >
        <div class="col-md-12">
          <p style="color: red;">*Datos obligatorios</p>

          <form #accionForm="ngForm" (ngSubmit)="onAccion()">
            <div class="row">
              <div class="col-md-12 pl">
                <div class="form-group">
                  <label>Programa Tratamiento*</label>
                  <input type="text" class="form-control" name="nombre" 
                    required [(ngModel)]="tratamiento.programa_tratamiento">
                </div>
              </div>
            </div>  

            <!-- <div class="row">
              <div class="col-md-12 pl">
                <div class="form-group">
                  <label>Der. Psicoterapia</label>
                  <input type="text" class="form-control" name="derivacion_psicoterapia" 
                    [(ngModel)]="tratamiento.derivacion_psicoterapia">
                </div>
              </div>
            </div> -->

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Ses. Psiquiatricas:</label>
                  <input type="text" class="form-control" name="sesiones_psiquiatricas" 
                    [(ngModel)]="tratamiento.sesiones_psiquiatricas">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Ses. Psicologicas</label>
                  <input type="text" class="form-control" name="sesiones_psicologicas" 
                    [(ngModel)]="tratamiento.sesiones_psicologicas">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Ses. Grupales</label>
                  <input type="text" class="form-control" name="sesiones_grupales" 
                    [(ngModel)]="tratamiento.sesiones_grupales">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Frecuencia</label>
                  <input type="text" class="form-control" name="frecuencia" 
                    [(ngModel)]="tratamiento.frecuencia">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Abordaje</label>
                  <input type="text" class="form-control" name="abordaje" 
                    [(ngModel)]="tratamiento.abordaje">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Costo Mensual</label>
                  <input type="text" class="form-control" name="costo_mensual" maxlength="9" 
                    [(ngModel)]="tratamiento.costo_mensual">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>T. Probable</label>
                  <input type="text" class="form-control" name="tiempo_probable" 
                    [(ngModel)]="tratamiento.tiempo_probable">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Cant. Fases</label>
                  <input type="text" class="form-control" requerid name="fases" 
                    [(ngModel)]="tratamiento.fases">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 pl">
              </div>
              <div class="col-md-2 pr">
                <input type="submit" value= "OK"
                  [disabled]="accionForm.invalid" class="btn btn-success">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal-footer">
    </div>
  </ng-template>
  <!-- FIN MODAL ALTA/MODIFICAR USUARIO -->


  <!-- MODAL ALTA/MODIFICAR USUARIO -->
  <ng-template #eliminarModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{tituloModal}}</h4>
        <button type="button">
          <i class="fa fa-close" (click)="c('Close click')"></i>
        </button>
    </div>

    <div class="modal-body px-3">
      <div class="row justify-content-md-center" >
        <div class="col-md-12">
          <form #eliminarForm="ngForm" (ngSubmit)="onConfirmaBorrar(tratamiento)">
            <div class="row">
              <div class="col-md-12 pr">
                <p>Esta seguro de eliminar el tratamiento {{tratamiento.programa_tratamiento}}</p>
              </div>
            </div>  

            <div class="row">
              <div class="col-md-8 pl">
              </div>
              <div class="col-md-4 pr">
                <input type="submit" value= "SI" class="btn btn-success">
                <input type="button" value= "NO" class="btn btn-danger" (click)="c('Close click')">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>
  <!-- FIN MODAL CONSULTA ELIMINAR USUARIO -->
</div>
