<div class="row">
  <div class="col-md-12">    
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">
          Registro de Evaluación
        </h5>
      </div>
      <hr />
      <div class="card-body">
        <form #evaluacionForm="ngForm">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <h6 style="margin-top: 0.5em;">Paciente </h6>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <h5>{{nombreApellidoPaciente}}</h5>
              </div>
            </div>

            <div class="col-md-1">
              <div class="form-group">
                <h6 style="margin-top: 0.5em;">CGIP</h6>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <h5>{{cgip}}</h5>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
                <h6 style="margin-top: 0.5em;">Profesional</h6> 
            </div>
            <div class="col-md-3">
              <h5>{{identity.apellido}} {{identity.nombre}}</h5>
            </div>
          </div>


          &nbsp;
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <h6>Fecha de Práctica</h6> 
                <h5>{{evaluacion.fecha_creacion | date: 'dd-MM-yyyy'}}</h5>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <h6>Hora de inicio *</h6>
                <input type="time" class="form-control" name="hora_inicio" 
                  required [(ngModel)]="evaluacion.hora_inicio">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <h6>Hora de cierre *</h6>
                <input type="time" class="form-control" name="hora_cierre" 
                  required [(ngModel)]="evaluacion.hora_cierre">
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <div class="form-group">
                <h6>Fase actual</h6>
                <h5>{{faseActual}}</h5>
              </div> 
            </div>
            
            <div class="col-md-2">
              <div class="form-group">
                <h6>Fase</h6>
                  <select id= "fase" name="faseSel"
                    [(ngModel)] = "fase" requerid class="form-control"
                    (ngModelChange)="onSeleccionarFase(fase)">
                    <option *ngFor="let fase of fases" [ngStyle]="{'background-color': fase.ico}" [ngValue] = "fase">
                        {{fase.fase}}        
                    </option>
                  </select>
              </div> 
            </div>
          </div>  
          &nbsp;

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <h6>participantes de la evaluacion *</h6>
                <textarea type="text" class="form-control" name="participantes_evaluacion" 
                  required [(ngModel)]="evaluacion.participantes_evaluacion">
                </textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <h6>resultado de la evaluacion mensual</h6>
                <textarea type="text" class="form-control" name="resultado_evaluacion" 
                     [(ngModel)]="evaluacion.resultado_evaluacion">
                </textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <h6>otras consideraciones (se mostrara en el timeline del paciente)</h6>
                <textarea type="text" class="form-control" name="consideraciones_evaluacion" 
                     [(ngModel)]="evaluacion.consideraciones_evaluacion">
                </textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- <div class="col-md-2">
              <div class="form-group">
                <h6>Fase</h6>
                  <select id= "faseSel" name="faseSel"
                    [(ngModel)] = "faseSel" requerid class="form-control"
                    (ngModelChange)="onSeleccionarFase(faseSel)">
                    <option *ngFor="let fase of fases" [ngValue] = "fase">
                        {{fase}}        
                    </option>
                  </select>
              </div> 
            </div> -->
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button type="button" class="btn btn-primary"  *ngIf="identity.nombre_tipo_persona == 'Profesional'" 
                  [disabled]="evaluacionForm.invalid" (click)= onEvaluacion() style="margin-top: 65px;">
                  Crear
                </button>
              </div>
            </div>
          </div>
        </form>
      </div> 
    </div>
</div>