<div class="row">
  <div class="col-md-12">    
    <div class="jumbotron jumbotron-fluid bg-white">
      <div class="container">
        <!-- <h1 class="display-4">Accede al blog de la casona coop</h1> -->
        <p class="lead">Para solicitar tu Historia Clínica presiona el boton "Solicitar H.C.". Recibiras por correo electrónico tu H.C.</p>
        
        <p class="lead">El correo electrónico que tenes registrado de vos es: {{identity.email}} </p> 
        
        <p class="lead">Si no es correcto, podés modificarlo desde el menú "Mi Perfil" </p> 

        <button type="button" class="btn btn-primary" (click)="onBlog()">
          Solicitar H.C.
        </button>
      </div>
    </div>
  </div>  
</div>
