<!-- SI ESTA IDENTIFICADO INGRESA AL DASHBOARD -->
<div *ngIf="identity" [class.hidden]="!identity">
	<router-outlet></router-outlet>
</div>

<!-- SINO PANTALLA INICIAL  -->
<div  *ngIf="!identity">
  <div class="card bg-dark">
    <div class="card-header">
      <div class="row justify-content-center h-1">
        <h2 style="color: white;">{{titulo}}</h2>
      </div>
    </div>
    <div class="card-body">
      <div class="modal-content">
        <img class="portada" src="../assets/img/portada.png">
      </div>
      <div class="row justify-content-center align-items-center">
          <button (click)="miCasona(content1)" class="btn btn-dark">
            Mi Casona
          </button>
          <button (click)="consulta(content2)" class="btn btn-success">
            Solicitar Consulta
          </button>
          <button (click)="conocerMas(content3)" class="btn btn-dark">
            Conocer Mas
          </button>
      </div>  
    </div>
    <div class="card-footer">
      <div class="row justify-content-center align-items-center">
        <h4 style="color: white;">FLF sistemas 2021</h4>
      </div>
    </div>
  </div>
    
    
  <!-- MODAL LOGIN MI CASONA -->
  <ng-template #content1 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Mi Casona</h4>
        <button type="button">
          <i class="fa fa-close" (click)="c('Close click')"></i>
        </button>
    </div>
    <br>
    <div class="row justify-content-md-center px-3">
      <div class="col-md-12">
        <div class="container ">
          <div class="row justify-content-center align-items-center">
            <div  class="col-md-11">
              <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6 pr">
                    <div class="form-group">
                      <label>Usuario</label>
                      <input type="text" class="form-control" name="usuario" 
                        required [(ngModel)]="usuario.usuario"/>                                        
                    </div>
                  </div>
                  <div class="col-md-6 pl">
                    <div class="form-group">
                      <label>Contraseña</label>
                      <input type="password" class="form-control" name="clave" 
                        required [(ngModel)]="usuario.clave"/>
                    </div>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-md-8 pr">
                    <div class="form-group">
                    </div>
                  </div>
                  <div class="col-md-3 pl">
                    <input type="submit" value= "Ingresar"
                    [disabled]="loginForm.invalid" class="btn btn-success">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="modal-footer">
      <a href="" >Olvide mi contraseña</a>
    </div>
  </ng-template> 
  <!-- FIN MODAL LOGIN -->              

  <!-- MODAL CONSULTA -->
  <ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Reserva tu consulta </h4>
        <button type="button">
          <i class="fa fa-close" (click)="c('Close click')"></i>
        </button>
    </div>
    <div class="modal-body px-0">
      <div class="row justify-content-md-center" >
        <div class="col-md-10">
          <p style="color: red;">*Datos obligatorios</p>

          <form #ConsultaForm="ngForm" (ngSubmit)="onCrearConsulta()">
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Nombre*</label>
                  <input type="text" class="form-control" name="nombre" 
                    required [(ngModel)]="usuario.nombre"/>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Apellido*</label>
                  <input type="text" class="form-control" name="apellido" 
                    required [(ngModel)]="usuario.apellido"/>
                </div>
              </div>
            </div>  

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Teléfono*</label>
                  <input type="tel" class="form-control" name="Teléfono" 
                    required [(ngModel)]="usuario.telefono"/>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Correo Elctrónico*</label>
                  <input type="email" class="form-control" name="email" 
                    required [(ngModel)]="usuario.email"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Provincia*</label>
                  <select id= "provincia" name="provincia"
                      [(ngModel)] = "provincia" requerid class="form-control" 
                        (ngModelChange)="onSeleccionProvivincia($event)">
                      <option *ngFor="let provincia of provincias"  [ngValue] = "provincia">
                          {{provincia.nombre}}        
                      </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Localidad*</label>
                  <select id= "localidad" name="localidad"
                      [(ngModel)] = "localidad" requerid class="form-control"
                      (ngModelChange)="onSeleccionLocalidad($event)">
                      <option *ngFor="let localidad of localidades"  [ngValue] = "localidad">
                          {{localidad.nombre}}        
                      </option>
                  </select>
                </div>
              </div>
            </div>            
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Fecha de Consulta*</label>
                  <select id= "fecha" name="fecha"
                      [(ngModel)] = "turno" requerid class="form-control" 
                        (ngModelChange)="onSeleccionTurno($event)">
                      <option *ngFor="let turno of turnos"  [ngValue] = "turno.fecha">
                          {{turno.fecha | date:'dd-MM-yyyy' : 'UTC'}}        
                      </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Horario disponible*</label>
                  <select id= "hora" name="hora"
                      [(ngModel)] = "hora" requerid class="form-control"
                      (ngModelChange)="onSeleccionTurnoFinal(hora)">
                      <option *ngFor="let th of turnosHora"  [ngValue] = "th">
                          {{th.hora}}        
                      </option>
                  </select>
                </div>
              </div>
            </div>
            <!-- <div class="row" *ngIf="costo_entrevista"> -->
              <!-- <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>El costo de la consulta:</label>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>$ {{costo_entrevista}}</label>
                </div>
              </div>
            </div> -->
            <div class="row" *ngIf="costo_entrevista">
              <div class="col-md-12 pr-1">
                <div class="alert alert-info">
                  <span>El costo de la consulta: $ {{costo_entrevista}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 pr-1">
                <div class="alert alert-info">
                  <span>Si no podés en ninguno de los turnos disponibles contactanos al 03777 55 55 66</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9 pr-1">
                <div class="form-group">
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <input type="submit" value= "Enviar"
                  [disabled]="ConsultaForm.invalid" class="btn btn-success">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template> 
  <!-- FIN MODAL CONSULTA -->              


  <!-- MODAL CONOCER MAS -->
  <ng-template #content3 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Conoce mas de nosotros</h4>
        <button type="button">
          <i class="fa fa-close" (click)="c('Close click')"></i>
        </button>
    </div>
    <div class="modal-body px-0">
      <div style="overflow-y: hidden; height: calc(100vh - 15rem);">
        <div class="px-2" style="overflow-y: auto; height: 100%;">
          <div class="row justify-content-md-center" >
              <div class="col-md-11">
                <p>
                  La Casona web en psicointeraccion.com es un innovador sistema de intervención clínica completamente
                  en línea que atiende y trata diversas modalidades de malestar psicológicos tales como depresiones,
                  ansiedad, adicciones a sustancias, alcoholismo, duelo, pánico, somatizaciones, fobias, trastornos de
                  alimentación (bulimia y anorexia), terapias de pareja. Todo ello a partir de programas de intervención
                  llevados adelante por un Equipo Terapéutico compuesto por psicólogos, psiquiatras y psicólogos sociales,
                  con una vasta trayectoria en psicoterapias.
                </p>
                <p>
                  Una experiencia de reparación y rehabilitación única en su tipo sin necesidad de moverte de tu casa y
                  organizado a partir de tus propios tiempos.
                  ¿Cómo formar parte de esta experiencia terapéutica?
                </p>
                <p>
                  1 - Solicitar una consulta de ingreso para evaluar el caso.
                </p>
                <p>
                  2 - En la consulta de ingreso se define el programa terapéutico apropiado para el caso.
                </p>
                <p>
                  3 - Ingreso a la comunidad psicointeraccion.com, que es una plataforma interactiva en línea a partir de la
                  cual se desarrolla todo el tratamiento.
                </p>
                <p>
                  4 - A partir de ese momento los equipos tratantes trabajan directamente con el paciente, su familia y con
                  los grupos de apoyo, promoviendo los cambios necesarios para mejorar tu calidad de vida.
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="modal-footer">
    </div>
  </ng-template> 
  <!-- FIN MODAL CONOCENOS MAS -->              
</div>