<!-- <div class="row">
  <div class="col-md-12" *ngIf="identity.nombre_tipo_persona == 'Admin'" >
    <div class="card">
       <div class="card-header">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <button type="button" class="btn btn-primary" data-toggle="modal" 
                data-target="#modalNuevoConsulta" (click)="onNuevoConsulta(modalNuevoConsulta)">
                Crear Turnos Consulta
              </button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <button  type="button" class="btn btn-success" data-toggle="modal" 
                data-target="#modalNuevoTurno" (click)="onNuevoAgenda(modalNuevoTurno)">
                Crear Agenda Prof.
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr>
            
      <div class="card-body">
        <h5 data-toggle="tooltip" data-placement="top" title="Turnos disponibles o no y con fecha igual o mayor a hoy">  Todos los Turno</h5>
        <hr>
        <div class="row">          
          <div class="col-md-4">
            <div class="custom-control custom-switch" style="margin-top: 3.5em;">
              <input type="checkbox" class="custom-control-input" id="customSwitch1"  
                (click)="onSwitch()">
              <label class="custom-control-label" for="customSwitch1">Turnos Consulta/Turnos Profesionales</label>
            </div>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label><h5>Filtar por Fecha</h5></label>
              <input type="date" class="form-control" [(ngModel)]="fechaFiltro"  (ngModelChange)="filtrarLista()"
                name="filtro" id="filtro">
            </div>
          </div>
        </div>
        

        <div class="table-responsive scroll" style="max-height: 500px">
          <table class="table">
            <thead class=" text-primary">              
              <th>Fecha</th>
              <th>Inicio</th>
              <th>Estado</th>
              <th>Costo Base/Profesional</th>
              <th class="text-right"></th>
            </thead>
            <tbody *ngFor="let t of turnos">
              <tr>
                <td> {{t.fecha | date:'dd-MM-yyyy' : 'UTC'}} </td>
                <td> {{t.hora}}</td>
                <td *ngIf="t.estado == '1'"> Libre </td>
                <td *ngIf="t.estado == '0'"> {{t.observacion}} </td>
                <td *ngIf="t.turno_tratamiento == 0"> ${{t.costo_base}}</td>
                <td *ngIf= 't.turno_tratamiento == 1'>{{t.nombre}} {{t.apellido}}</td>

                <td  class="text-right">
                  <button *ngIf= 't.turno_tratamiento == 0 && t.estado == 1' type="button" class="btn btn-success" 
                    (click) = "onMarcarOcupado(t)" data-toggle="tooltip" data-placement="top" title="Marcar Ocupado">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </button>
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->

  <!-- MODAL ALTA/MODIFICAR turno -->
  <!-- <ng-template #modalNuevoTurno let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{tituloModal}}</h4>
        <button type="button">
          <i class="fa fa-close" (click)="c('Close click')"></i>
        </button>
    </div>

    <div class="modal-body px-3">
      <div class="row justify-content-md-center" >
        <div class="col-md-12">
          <p style="color: red;">*Datos obligatorios</p>

          <form #accionForm="ngForm" (ngSubmit)="onAccion('agenda')">
            <div class="row">
              <div class="col-md-6 pl">
                <div class="form-group">
                  <label>Fecha Turnos *</label>
                  <input type="date" requerid class="form-control" [(ngModel)]="turno.fecha" 
                    name="fecha">
                </div>
              </div>
              <div class="col-md-6 pr">
                <div class="form-group">
                  <label>Hora de Inicio *</label>
                  <input type="time" class="form-control" name="hora" 
                    required [(ngModel)]="hora"/>                
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pl">
                <div class="form-group">
                  <label>Cantidad de Turnos *</label>
                  <input type="text" class="form-control" name="cantidad" 
                    [(ngModel)]="cantidad" requerid/>
                </div>
              </div>
              <div class="col-md-6 pr">
                <div class="form-group">
                  <label>Duracion * (minutos)</label>
                  <input type="text" class="form-control" name="duracion" 
                    [(ngModel)]="duracion" requerid/>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-10 pl">              
              </div>
              <div class="col-md-2 pr">
                <input type="submit" value= "OK"
                  [disabled]="accionForm.invalid" class="btn btn-success">
                <div class="form-group">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template> -->
  <!-- fin modal turno profesioan -->

  <!-- modal turnos de consulta -->
  <!-- <ng-template #modalNuevoConsulta let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{tituloModal}}</h4>
        <button type="button">
          <i class="fa fa-close" (click)="c('Close click')"></i>
        </button>
    </div>

    <div class="modal-body px-3">
      <div class="row justify-content-md-center" >
        <div class="col-md-12">
          <p style="color: red;">*Datos obligatorios</p>

          <form #accionForm="ngForm" (ngSubmit)="onAccion('consulta')">
            <div class="row">
              <div class="col-md-6 pl">
                <div class="form-group">
                  <label>Fecha Turnos *</label>
                  <input type="date" requerid class="form-control" [(ngModel)]="turno.fecha" 
                    name="fecha">
                </div>
              </div>
              <div class="col-md-6 pr">
                <div class="form-group">
                  <label>Hora de Inicio *</label>
                  <input type="time" class="form-control" name="hora" 
                    required [(ngModel)]="hora"/>                
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pl">
                <div class="form-group">
                  <label>Cantidad de Turnos *</label>
                  <input type="text" class="form-control" name="cantidad" 
                    [(ngModel)]="cantidad" requerid/>
                </div>
              </div>
              <div class="col-md-6 pr">
                <div class="form-group">
                  <label>Duracion * (minutos)</label>
                  <input type="text" class="form-control" name="duracion" 
                    [(ngModel)]="duracion" requerid/>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6 pl">              
                <label style="margin-top: 0.5em;">Costo Base *</label>
                <input type="text" class="form-control" name="costo_base" 
                  required [(ngModel)]="turno.costo_base"/>
              </div>
              <div class="col-md-4 pl"></div>              
              <div class="col-md-2 pr">
                <input type="submit" value= "OK" style="margin-top: 3em;"
                  [disabled]="accionForm.invalid" class="btn btn-success">
                <div class="form-group">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template> -->
  <!-- fin modal turno consulta -->
<!-- </div> -->


<div class="row">
  <div class="col-md-12">
    en construccion
  </div>
</div>
