  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group" style="margin-top: 0.5em;">
                <select id= "tipo" name="tipo"
                    [(ngModel)] = "tipo" requerid class="form-control" (ngModelChange)="onSeleccionarPorTipo(tipo)">
                    <option>Tratamiento</option>
                    <option>Entrevista</option>
                </select>
              </div>            
            </div>
            <div class="col-md-4 ">
            </div>
            <div class="col-md-4 text-right" >
              <div class="form-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" *ngIf="identity.nombre == 'Admin'"
                  data-target="#modalNuevoTurno" (click)="onNuevoTurno(modalNuevoTurno)">
                  Nuevo Turno
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- INICIO LISTA -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>Tipo</th>
                <th>Fecha</th>
                <th>Inicio</th>
                <th>Estado</th>
                <th>Costo Base</th>
                <th class="text-right" *ngIf="identity.nombre == 'Admin'"></th>
              </thead>
              <tbody *ngFor="let t of turnos">
                <tr>
                  <td *ngIf="t.turno_tratamiento == 1"> Tratamiento </td>
                  <td *ngIf="t.turno_tratamiento == 0"> Entrevista </td>
                  <td> {{t.fecha | date:'dd-MM-yyyy' : 'UTC'}} </td>
                  <td> {{t.hora}}</td>
                  <td *ngIf="t.estado == '1'"> Libre </td>
                  <td *ngIf="t.estado == '0'"> Asignado </td>
                  <td *ngIf="t.turno_tratamiento == 0"> ${{t.costo_base}}</td>
                  <!-- <td *ngIf="t.turno_tratamiento == 1"> ${{t.costo_base}}</td> -->
                  <td  class="text-right" *ngIf="identity.nombre == 'Admin'">
                    <button type="button" class="btn btn-success" data-toggle="modal" 
                      (click) = "onEditar(modalAltaEdicion,t)" data-target="#modalAltaEditar">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-danger" data-toggle="modal" 
                      data-target="#eliminarModal" (click)="onBorrar(eliminarModal,t)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- FIN LISTA -->
      </div>  
    </div>


  <!-- MODAL ALTA/MODIFICAR USUARIO -->
  <ng-template #modalNuevoTurno let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{tituloModal}}</h4>
        <!-- <h4 class="modal-title">Crear Nuevos Turnos</h4> -->
        <button type="button">
          <i class="fa fa-close" (click)="c('Close click')"></i>
        </button>
    </div>

    <div class="modal-body px-3">
      <div class="row justify-content-md-center" >
        <div class="col-md-12">
          <p style="color: red;">*Datos obligatorios</p>

          <form #accionForm="ngForm" (ngSubmit)="onAccion()">
            <div class="row">
              <div class="col-md-6 pl">
                <div class="form-group">
                  <div class="form-group" style="margin-top: 0.5em;">
                    <label>Tipo Turno *</label>
                    <select id= "tipoCreacion" name="tipoCreacion"
                        [(ngModel)] = "tipoCreacion" requerid class="form-control" (ngModelChange)="onNuevoTurnoTipo(tipoCreacion)">
                        <option>Tratamiento</option>
                        <option>Entrevista</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pr" *ngIf="tipoCreacion=='Entrevista'">
                <label style="margin-top: 0.5em;">Costo Base *</label>
                <input type="text" class="form-control" name="costo_base" 
                  required [(ngModel)]="turno.costo_base"/>
              </div>
            </div>  

            <div class="row">
              <div class="col-md-6 pl">
                <div class="form-group">
                  <label>Fecha Turnos *</label>
                  <input type="date" requerid class="form-control" [(ngModel)]="turno.fecha" 
                    name="fecha">
                </div>
              </div>
              <div class="col-md-6 pr">
                <div class="form-group">
                  <label>Hora de Inicio *</label>
                  <input type="time" class="form-control" name="hora" 
                    required [(ngModel)]="hora"/>                
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pl">
                <div class="form-group">
                  <label>Cantidad de Turnos *</label>
                  <input type="text" class="form-control" name="cantidad" 
                    [(ngModel)]="cantidad" requerid/>
                </div>
              </div>
              <div class="col-md-6 pr">
                <div class="form-group">
                  <label>Duracion *</label>
                  <input type="text" class="form-control" name="duracion" 
                    [(ngModel)]="duracion" requerid/>
                </div>
              </div>
            </div>

            
            <div class="row">
              <div class="col-md-10 pl">              
              </div>
              <div class="col-md-2 pr">
                <input type="submit" value= "OK"
                  [disabled]="accionForm.invalid" class="btn btn-success">
                <div class="form-group">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>
  <!-- FIN MODAL ALTA/MODIFICAR USUARIO -->
  
    <!-- MODAL LIMINAR TURNO -->
  <!-- <ng-template #eliminarModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{tituloModal}}</h4>
        <button type="button">
          <i class="fa fa-close" (click)="c('Close click')"></i>
        </button>
    </div>

    <div class="modal-body px-3">
      <div class="row justify-content-md-center" >
        <div class="col-md-12">
          <form #eliminarForm="ngForm" (ngSubmit)="onConfirmaBorrar(turno)">
            <div class="row">
              <div class="col-md-12 pr">
                <p>Esta seguro de eliminar el turno {{turno.fecha | date:'dd-MM-yyyy' : 'UTC'}} : {{turno.hora}} hs</p>
              </div>
            </div>  

            <div class="row">
              <div class="col-md-8 pl">
              </div>
              <div class="col-md-4 pr">
                <input type="submit" value= "SI" class="btn btn-success">
                <input type="button" value= "NO" class="btn btn-danger" (click)="c('Close click')">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template> -->
  <!-- FIN MODAL ELIMINAR turno -->
  </div>

